{% extends "layout.html" %}

{% block title %} About {% endblock %}

{% block main %}
<h2 class="text-center pb-1">The idea about IdeaSea</h2>

<div class="sticky-note-container">
    <p class="sticky-note">
        The idea behind IdeaSea is quite simple - to create a place where ideas may flow freely, without any social-media-garbage interruption. We live in the most technologically advanced era of the world with countless possibilities, yet, we often forget about our ideas just to succumb to whatever is being served to us.
    </p>
    <p class="sticky-note">
        I found it irritating how with that much at hand, we strive for less and less, forgetting about why the internet was created in the first place. I encourage you to think, come up with stuff, inspire others and try to be inspired yourself! <br><br>~ Author of the website
    </p>
</div>


{% endblock %}
