{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <div class="full-height-container">
        <!-- https://memegen.link/ -->
        <!-- https://knowyourmeme.com/memes/grumpy-cat -->
        <img id="apology" class="pt-5" alt="{{ top }}" class="border img-fluid" src="https://api.memegen.link/images/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?background=https://i.imgur.com/CsCgN7Ll.png&width=400" title="{{ top }}">
    </div>
{% endblock %}
