{% extends "layout.html" %}

{% block title %}
    Deposit
{% endblock %}

{% block main %}
    <h3 class="pb-4">Deposit cash</h3>
    <form action="/deposit" method="post">
        <div class="mb-3 d-inline-flex">
            <input autocomplete="off" autofocus class="form-control ms-auto me-0 w-50" name="cash" placeholder="Amount" type="number" step=".01" id="cash"><span class="fs-4 ms-1 me-auto">&dollar;</span>
        </div>
        <br>
        <button class="btn btn-primary ms-1 me-auto" type="submit">Deposit</button>
    </form>

    <!-- {% if quote %}
        <h3 class="stock_symbol fw-semibold pt-4">{{ quote["symbol"] }}</h3>
        <h4 class="stock_quote">Price: {{ quote["price"] | usd }}</h4>
    {% endif %} -->

    <div id="result"></div>

    <script>
        let input = document.querySelector('#symbol')
        input.addEventListener('input', async function() {
            let response = await fetch('/quote?symbol=' + input.value);;
            let quote = await response.text();
            document.querySelector('#result').innerHTML = quote;
        })
    </script>
{% endblock %}
